.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 250px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.box-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #ffe81f;
}

.box-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50px;
    padding: 20px;
}

.box-text {
    width: 100%;
    max-width: 500px;
    text-align: justify;
    padding: 40px;
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .box-container {
        gap: 150px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }


    .box-image {
        width: 90%;
        max-width: 400px;
    }

    .box-text {
        width: 90%;
        max-width: 400px;
    }
}
