.home-title{
    font-size: 3.5rem;
}

.main{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.card-component-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.card-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 100px;
}