.h2-title{
    font-family: 'Star Wars', sans-serif;
}

.card-component-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.card-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {

    .card-component-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
    }

    .card-section-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 100px;
    }
}