/*
Desktop Extra Large (larger than 1440px):

Title (h1): 36px - 48px
Body text (body): 22px
p text (p): 22px


Desktop Large (1200px - 1440px):
Title (h1): 30px - 36px
Body text (body): 16px - 18px
p text (p): 14px - 16px

Desktop Medium (992px - 1200px):
Title (h1): 26px - 30px
Body text (body): 18px
p text (p): 18px

Desktop Small (768px - 991px):
Title (h1): 24px - 26px
Body text(body): 14px
p text (p): 13px - 14px

Desktop Very Small (smaller than 768px):
Title (h1): 22px - 24px
Body text (body): 13px - 14px
p text (p): 12px - 13px

MAIN COLOR
#010917

TINTS
1: #1a2e4e
2: #344561
3: #4d5d75
4: #677489
5: #808b9d

SHADES
1: #011534
2: #01122e
3: #011029
4: #010e23
5: #010c1d



Background COLOR
#000207

TINTS
1: #232a27
2: #3c413f
3: #545957
4: #6d716f
5: #858987

SHADES
1: #0a100e
2: #090e0c
3: #080d0b
4: #070b09
5: #060908

*/

* {
    font-family: "Exo", sans-serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000207;
    overflow: hidden;
}

.hyperspace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 99;
    transition: opacity 0.5s;
}

/* Linee di velocità */
.hyperspace::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            white 0px,
            white 2px,
            transparent 2px,
            transparent 10px
    );
    animation: warp 0.3s linear infinite;
    transform: scaleY(0);
    z-index: 9999;
}

@keyframes warp {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(5);
    }
}

.hyperspace.active {
    opacity: 1;
}


.star {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.32);
    pointer-events: none;
}

#hyperspace-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background: #000207;
}
