/*
Desktop Extra Large (larger than 1440px):

Title (h1): 36px - 48px
Body text (body): 22px
p text (p): 22px


Desktop Large (1200px - 1440px):
Title (h1): 30px - 36px
Body text (body): 16px - 18px
p text (p): 14px - 16px

Desktop Medium (992px - 1200px):
Title (h1): 26px - 30px
Body text (body): 18px
p text (p): 18px

Desktop Small (768px - 991px):
Title (h1): 24px - 26px
Body text(body): 14px
p text (p): 13px - 14px

Desktop Very Small (smaller than 768px):
Title (h1): 22px - 24px
Body text (body): 13px - 14px
p text (p): 12px - 13px

MAIN COLOR
#bf9f88

TINTS
1: #c5a994
2: #ccb2a0
3: #d2bcac
4: #d9c5b8
5: #dfcfc4

SHADES
1: #ac8f7a
2: #997f6d
3: #866f5f
4: #735f52
5: #605044



Background COLOR
#0b120f

TINTS
1: #232a27
2: #3c413f
3: #545957
4: #6d716f
5: #858987

SHADES
1: #0a100e
2: #090e0c
3: #080d0b
4: #070b09
5: #060908

*/

* {
    font-family: "Exo", sans-serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

body {
    background-color: #060302;
}